{% load static %} 

{% for c in games %}
  <div class="card image-card">
    <img
      src="{{ c.imagenes.url }}"
      alt="{{ c.nombre }}"
    />
    <div class="card-body card-content">
      <h5 class="card-title"><strong>Titulo: </strong>{{ c.nombre }}</h5>
      <p class="card-text"><strong>Descripcion: </strong>{{ c.descripcion }}</p>
      <p class="card-text"><strong>Precio:</strong> {{ c.precio }}</p>
      <p class="card-text"><strong>Para:</strong> {{ c.plataforma }}</p>
      <a href="#" class="btn boton-ver-mas"><strong>Ver más</strong></a>
    </div>
  </div>
{% endfor %}
