{% load static %}

<div class="container_category">
  <div class="imageCategorys">
    <a href=""
      ><img src="{% static 'img/nintendo.png' %}" alt="Playstation"
    /></a>
  </div>
</div>

<div class="container_category">
  <div class="imageCategorys">
    <a href=""><img src="{% static 'img/pc.png' %}" alt="Xbox" /></a>
  </div>
</div>

<div class="container_category">
  <div class="imageCategorys">
    <a href=""> <img src="{% static 'img/nintendo.png' %}" alt="Nintendo" /></a>
  </div>
</div>

<div class="container_category">
  <div class="imageCategorys">
    <a href=""><img src="{% static 'img/pc.png' %}" alt="PC" /></a>
  </div>
</div>
