* {
  box-sizing: border-box;
}
body {
  background-color: #f4f2ff;
}
.navbar,
.footer {
  background-color: #4618ac;
}

.categorys_center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
}

.cards_center {
  margin: 10px auto;
  justify-content: center;
  gap: 15px;
}

.card {
  background-color: #d8d4ff !important;
  border: 2px solid #bbb1ff !important;
}

.image-card {
  width: 18rem;
  padding: 10px;
}

.image-card img {
  border-radius: 10px;
  max-height: 20rem;
}

.card-content {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.boton-ver-mas {
  background-color: #bbb1ff;
  color: #4618ac;
}

.text-title{
  margin: 5px;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.flexForm{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.botonGuardar{
  margin: 0 auto;
}

.textoTabla {
  text-align: center;
  margin: auto 0;
}