* {
  box-sizing: border-box;
}
body {
  background-color: #f4f2ff;
}
.navbar,
.footer {
  background-color: #4618ac;
}

.categorys_center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
}

.container_category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  cursor: pointer;
}

.cards_center {
  margin: 20px;
  justify-content: center;
  gap: 15px;
}

.imageCategorys img {
  width: 60px;
  height: 60px;
}

.card {
  background-color: #d8d4ff !important;
  border: 2px solid #bbb1ff !important;
}
