{% extends "../plantilla.html" %} 

{% block title %} Game Management {% endblock%} 

{% block content %}

<div class="row" style="justify-content: center;">
    <div class="col-sm-11 col-md-8 col-lg-8 col-xl-8">
      <div class="card" style="margin: 10px;">
        <h2 class="text-title">Gestión de juegos</h2>
        <div class="card-body">
          <form action="/registerGame/" class="flexForm" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <div class="form-group">
              <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Código" minlength="6" max="6" required>
            </div>
            <div class="form-group">
              <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" max="50" required>
            </div>
            <div class="form-group">
              <input type="text" id="txtDescripcion" name="txtDescripcion" class="form-control" placeholder="Descripcion" max="50" required>
            </div>
            <div class="form-group">
              <input type="text" id="numPrecio" name="numPrecio" class="form-control" placeholder="Precio" maxlength="50" required pattern="\d+(\.\d{2})?" required>
            </div>
            <div class="form-group">
              <input type="text" id="txtPlataforma" name="txtPlataforma" class="form-control" placeholder="Plataforma" max="50" required>
            </div>
            <div class="form-group">
              <input
                type="file"
                id="imgImagen"
                name="imgImagen"
                class="form-control"
              />
            </div>

            <div class="form-group botonGuardar">
              <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-11 col-lg-11 col-xl-11">
      <h1 class="text-title">Lista de Juegos</h1>
      <div class="table-responsive">
        <table class="table table-sm textoTabla">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Plataforma</th>
              <th>Portada</th>
              <th colspan="2">Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for c in games %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{c.nombre}}</td>
              <td>{{c.descripcion}}</td>
              <td>{{c.precio}}</td>
              <td>{{c.plataforma}}</td>
              <td>
              {% if c.imagenes %}
                <img src="{{ c.imagenes.url }}" alt="{{ c.nombre }}" style="max-width: 150px;">
              {% else %}
                No existe imagen
              {% endif %}
              </td>
              <td><a href="{% url 'edit' c.codigo %}" class="btn btn-info">Editar</a></td>
              <td><a href="{% url 'delete' c.codigo %}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
            </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
    
{% endblock %}